div(class="course_card")
    .card(style='width: 18rem;')
        img.card-img-top(src='assets/carosel-1.jpg' alt='...')
        .card-body
            h5.card-title Card title
            p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
            a.btn.btn-primary(href='#') Go somewhere
