div(class="home_page_bg")
    div(class="home_page_heading")
        h1 Discover Opportunities and Resources for Your Programming Journey
        p Beginners/Intermediate Courses
        button 
            a(href="/") Explore Courses
include ./search.pug
include ./course_card.pug

