div(class="course_search_box")
    div 
        ul  
            li 
                input(type="search", name="course_search" placeholder="What do you want to learn?") 
                span <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            li  
                button 
                    a(href="/") Search Course