div(class="course_search_box")
    form(method="post") 
        ul  
            li 
                input(type="search", name="course_search" placeholder="What do you want to learn?" id="") 
                span <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            li  
                a(href="/" class="btn btn-dark p-3") Search Course
                    