@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 2px solid red; */
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.925rem;
}

.navbar .container .navbar-header a {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1em;
}

.navbar .container .navbar-header a h4 {
  color: rgb(75 85 99);
  font-size: 1.6em;
  font-weight: 600;
}

.navbar .container .navbar-header a h4 span {
  color: #1C315E;
  font-weight: 600;
}

.container {
  width: 1170px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar,
.navbar>.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {

  .navbar,
  .navbar>.container {
    display: block;
  }
}

.navbar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 0.5rem;
  border-bottom: 1px solid #eceef3;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


@media (min-width: 576px) {
  .navbar .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .navbar .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .navbar .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1140px;
  }
}

.navbar .navbar-header {
  display: flex;
  align-items: center;
  padding-block: 0.8em;
}

@media (max-width: 768px) {
  .navbar .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

.navbar .navbar-header .navbar-toggler {
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}

@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
  }
}

.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: #929aad;
  display: block;
}

.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}

.navbar .navbar-header>a {
  font-weight: 500;
  color: #3c4250;
}

.navbar .navbar-menu {
  display: flex;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}

.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #eee;
    margin-top: 1rem;
  }
}

.navbar .navbar-menu .navbar-nav>li>a {
  color: #3c4250;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}

.navbar .navbar-menu .navbar-nav>li>a:hover {
  color: #66f;
}

@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav>li>a {
    border-bottom: 1px solid #eceef3;
  }
}

.navbar .navbar-menu .navbar-nav>li.active a {
  color: #66f;
}

.navbar .navbar-menu .navbar-nav .navbar-dropdown {
  list-style: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-width: 160px;
  width: auto;
  white-space: nowrap;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
  border-radius: 0.75rem;
  display: none;
}

@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    position: relative;
    box-shadow: none;
  }
}

.navbar .navbar-menu .navbar-nav li a {
  color: #3c4250;
  padding: 0.25rem 1rem;
  display: block;
}

.navbar .navbar-menu .navbar-nav .dropdown.show {
  display: block !important;
}

.navbar .navbar-menu .navbar-nav>.separator {
  height: 1px;
  width: 100%;
  margin-top: 9px;
  margin-bottom: 9px;
  background-color: #eceef3;
}

.navbar .navbar-header>a span {
  color: #1C315E;
  font-weight: 600;
}

.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;
  }
}


/* -------------------------------------------------------------------------- */
/*                               EDUCATION WEBSITE UI STYLE                              */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                UTILITY STYLE                               */
/* -------------------------------------------------------------------------- */
button a{
  text-decoration: none;
  color: rgb(31 41 55);
}


/* ----------------------------- HOME MAIN DIV ---------------------------- */
.home_page_bg {
  width: 100%;
  height: 70vh;
  /* Old browsers */
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5),url('../assets/carosel-1.jpg') no-repeat center );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5), url('../assets/carosel-1.jpg') no-repeat center);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('../assets/carosel-1.jpg') no-repeat center;
}

.home_page_heading{
  width: 60%;
  height: 100%;
  color:#fff;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-block-start:10em;
  padding-inline-start: 13em;
  align-items: flex-start;
  gap: 1em;
}

.course_search_box{
}
.course_search_box form{
  width: 100%;
  height: 12em;
  /* padding-inline-start: 11em; */
}

.course_search_box form ul{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap:1em;
}

.course_search_box form ul li{
  list-style-type: none;
}
.course_search_box form ul li:nth-child(1){
  width: 40%;
}
.course_search_box form ul li:nth-child(1) input{
  width: 100%;
  padding-inline:16px;
  padding-block:12px;
  border-radius: 4px;
  font-size: 1.2em;
}

.course_card{
  /* padding-block-start:10em; */
  padding-inline: 13em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:3em;
}



/* ------------------------------ FOOTER STYLE ------------------------------ */
.footer{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start:4em;
}

.footer ul li{
list-style-type: none;
}